<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index"><span class="glyphicon glyphicon-off"></span> First Flask</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">

                <ul class="nav navbar-nav">
                    <li><a href="/">Blog</a></li>
                    {% if current_user.is_authenticated %}
                    <li><a href="/new">New article</a></li>
                    {% endif %}
                </ul>


                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                    <li><a href="/logout">Logout ({{ current_user.name }})</a></li>

                    {% else %}
                    <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>

                    <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li>{{ message }} </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                {% block content %}
                {% endblock %}
            </div>
            <div class="col-md-3">
                {% block sidebar %}
                {% endblock %}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span class="glyphicon glyphicon-pencil"></span> Last article blog</h3>
                        </div>
                        <div class="panel-body">
                            {% block last_article %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span class="glyphicon glyphicon-plus"></span> Last comment</h3>
                        </div>
                        <div class="panel-body">
                            {% block last_comment %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span class="glyphicon glyphicon-link"></span> Link</h3>
                        </div>
                        <div class="panel-body">
                            {% block link %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span class="glyphicon glyphicon-envelope"></span> Contacts</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled line">
                                <li>tel.: 8(000)000-00-00</li>
                                <li>e-mail: example@example.com.ua</li>
                                <li>Ukraune, Cherkassy</li>
                                <li>zip:18005</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>